 * {
     font-size: 30px;
     background-color: rgb(238, 255, 0);
 }

 fieldset {
     border: 3px dashed black;
     font-size: 30px;
     text-align: center;
     text-decoration: underline;
     font-weight: bold;
 }

 legend {
     text-align: left;
 }

 th,
 td,
 table {
     border: 2px solid black;
     border-collapse: separate;
     padding: 10px;
     text-align: center;
 }

 td,
 th {
     padding: 10px;
     text-align: center;
 }

 .first {
     width: 100%;
     text-align: left;
 }